
@model WebIU.ViewModels.AthleteNewViewModel

@{
    ViewBag.Title = "New";
}

<div class="row">

    <div class="col-md-6">

        <!-- OTHER EXAMPLE -->
        <div class="block">

            <div class="app-heading app-heading-small">
                <div class="title">
                    <h2>Other Fields</h2>
                    <p>Examples of other field types</p>
                </div>
            </div>
            @using (Html.BeginForm("Create", "Athlete"))
            {
                <div class="form-group">
                    @Html.LabelFor(m => m.Athlete.Name)
                    @Html.TextBoxFor(m => m.Athlete.Name, new { @class = "form-control", @placeholder = "youremail@domain.com" })
                    @*<label>E-mail</label>
                        <span class="help-block">Validation of elmail adress input</span>
                        <input class="form-control" data-validation="email" placeholder="youremail@domain.com">*@
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.Athlete.Sport)
                    @Html.DropDownListFor(m => m.Athlete.SportId,new SelectList(Model.Sports,"SportId","Name"),"", new { @class = "form-control" })

                </div>

                <div class="form-group margin-top-20">
                    <button class="btn btn-default" type="submit">Crear</button>
                </div>
            }

        </div>
        <!-- END OTHER EXAMPLE -->

    </div>
</div>